html, body {
  margin-left: 0px;
  padding: 20px;
  padding: 10px;
  color: #2684AC;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 12pt;
  text-align: center; 
  background-color: LightGrey;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: #21404D;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #2684AC;
}

#go_back {
  float: left;
}

h1 {
  color: #2684AC;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}

h2,h3 {
  color:#2684AC;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: white;
  color: white;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}

#bigbox {
  width:40%;
}

table#categories {
  color:#2684AC;
} 
table#categories {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
}
table#categories th {
  padding: 4px;
  text-align: left;
  color:#2684AC;
  font-weight: bold;
  text-align: center;
}
table#categories th.hilite {
  background-color: yellow;
}
#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}
